@model IEnumerable<Vidly.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
<p>
    @Html.ActionLink("Add ", "BookForm", "Book", null, new { @class = "btn btn-default glyphicon glyphicon-plus" })
</p>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <td>Id</td>
            <td>Book Name</td>
            <td>Author Name</td>
            <td>ISBN</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var books in Model)
        {
            <tr>
                <td>@books.Id</td>
                <td>@books.Name</td>
                <td>@books.AuthorName</td>
                <td>@books.ISBN</td>
                <td>
                    @Html.ActionLink(" ", "Details", "Book", new { id = books.Id }, new { @class = "btn btn-success glyphicon glyphicon-eye-open" })
                    @Html.ActionLink(" ", "Edit", "Book", new { id = books.Id }, new { @class = "btn btn-primary glyphicon glyphicon-edit" })
                    <button data-customer-id="@books.Id" class="js-delete btn btn-danger glyphicon glyphicon-trash"></button>
                </td>
            </tr>
        }


    </tbody>

</table>

