@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Customer Details</h3>
    </div>
    <div class="panel-body">
        <p>
            <ul>
                <li class="list-group-item">Name: @Model.Name</li>
                <li class="list-group-item">Phone Number: @Model.PhoneNumber</li>
                <li class="list-group-item">National Id: @Model.NationalId</li>
                <li class="list-group-item">Birth Date: @Model.Birthdate
                <li class="list-group-item">Subscribed To News: @Model.IsSubscribedToNewsletter</li>
            </ul>
        </p>
    </div>
</div>




